
/* Dessert Drupal 6.x Theme - Element Styles for All Media
 * August 7, 2009
 * Original Author: Alexa Booth - alexa.booth [at] outcome3.com
 ----------------------------------------------------------------*/

/*
 * =BODY LAYOUT COLOURS
 -----------------------------------------------*/

body {
	color: #535353;
	background: #68483B;
}

#maincontent {
	/* Replace background for MainContent here */
	background: #2fa19a url(images/blue.jpg) repeat-x top center;
	/***/
}

/*
 * Header Colours
 -----------------------------*/

#header-wrapper {
	/* Replace background for Header here */
	background: url(images/dots.png) repeat top left;
	/***/
	color: #e2e2e2;
}


/*
 * =RESETS
 -----------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body, textarea {
	font: 12px/150% Helvetica, Arial, sans-serif;
}

input {
	font: 12px/100% Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,th,dt,input,legend,label,select {
	font-size: 100%;
	font-weight: normal;
	margin-bottom: 4px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}


ol, ul { 
	margin: 0 0 0 25px; 
	padding: 0;
}

h1,h2,ol,ul,pre,code,form,fieldset,select,dd,input,textarea,p,blockquote,table, #mission, .meta, .submitted { 
	margin-bottom: 12px; 
}

p, .node { 
	margin-bottom: 18px; 
}

li,dt { 
	margin-bottom: 4px; 
}


/*  
 * =LAYOUT
 -----------------------------------------------*/

.node-title {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

#content {
	margin: 0 auto;
	width: 940px;
	padding: 0;
}

#content {
  background: #ebedee;
}

.messages,
.help {
	margin: 0 auto;
	width: 940px;
}

#main {
	padding: 30px 60px 20px;
}

.no-sidebars #main {
	clear: both;
}

/*
 * Header
 ---------------------------*/

#header-region {
	width:245px;
	float: right;
	padding: 0 0 0 10px;
}

#header {
	width: 940px;
	padding: 20px 10px;
	margin: 0 auto;
}

#header #header-region {
	color:#FFFFFF;
	font-weight:bold;
}

#logo-title {
	padding: 0 10px 0;
	width: 700px;
	float: left;
}

#logo-title h1 {
	margin-bottom: 0 !important;
	}

#logo {
	margin: 0 20px 0 0;
	float: left;
}

#slogan {
	display: block;
}

/*
 * Logo
 ---------------------------*/

#sitename  {
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 48px;
	text-shadow: #752d27 1px 1px 1px;
}

#sitename a #slogan {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}


/*
 * Search Box
 ---------------------------*/

#header #search-box {
	float: right;
}

#header #search-box .form-item {
	float: left;
	width: 116px;
}

#header #search-box .form-submit {
	margin: 30px 0 0;
	padding: 4px 5px 1px;
} 

/*
 * Primary Navigation
 ---------------------------*/

#navigation {
	font-size: 116.7%;
	margin: 0 auto;
}

#navigation a {
	font-weight: bold;
}

.withprimary #primary {
	 background: #FFFDEB;
}

#navigation #primary a {
	color: #4f4f4f;
}

#navigation #primary li a:hover {
	background: #fbf4bc;
}

.withsecondary {
	height: auto;
}

.withsecondary #secondary {
	padding: 0;
}

#navigation #primary .primary-links {
	margin: 0 auto;
	padding: 0;
	width: 940px;
}

#navigation #secondary .secondary-links {
	 padding: 0;
	 margin-bottom: 0 !important;
	 width: 960px;
	 margin: 0 auto;
}

#navigation #primary .primary-links li,
#navigation #secondary .secondary-links li {
	 padding: 0;
	 margin: 0;
}

#navigation #primary .primary-links li a {
	 margin:1px 0;
	 padding:16px 20px 11px;
	 float: left;
}

#navigation #secondary .secondary-links li a {
	 padding:16px 10px 10px;
	 float: left;
}

#navigation #secondary .secondary-links li a:hover {
	text-decoration: underline;
}

#navigation #secondary .secondary-links li a.active:hover {
	text-decoration: none;
}

#navigation #primary li.active-trail a,
#navigation #primary li.active a {
	margin:0;
	padding:16px 20px 13px;
}


#sidebar-right .block .content,
#sidebar-left .block .content {
 padding: 15px 20px;
}

.block-region {
 clear: both;
 margin: 0;
 padding: 5px 20px;
}

.two-sidebar #main {
	padding:30px 20px 20px;
	width:500px;
	float: left;
}

.two-sidebars #maincontent .two-sidebar,
.sidebar-right #maincontent .one-sidebar {
	background: #EBEDEE url(images/sidebar.gif) repeat-y top right;
}


/*
 * Sidebar - Left
 ---------------------------*/

.sidebar-left .one-sidebar #main {
	width: 620px;
	float: right;
}

.sidebar-left #sidebar-left {
	width: 200px;
	float: left;
}

.two-sidebars #sidebar-left {
	width: 200px;
	float: left;
}

/*
 * Sidebar - Right
 ---------------------------*/

.sidebar-right .one-sidebar #main {
	width: 620px;
	float: left;
}

.sidebar-right #sidebar-right {
	width: 200px;
	float: right;
}

.page-admin #main {
	padding: 10px;
}

.page-admin .one-sidebar #main {
	width:640px;
}

.page-admin .two-sidebar #main {
	width: 520px;
}

.two-sidebar #sidebar-right {
	width: 200px;
	float: right;
}


/*
 * Footer
 ---------------------------*/

#credit {
	font-size: 11px;
}

#footer {
	padding: 15px 20px;
	width: 920px;
	margin: 0 auto;
	margin-bottom:10px;
	color: #CCC;
}

#credit {
	float: right;
}

#footer-region {
	width: 300px;
	float: right;
}

/*  
 * =TYPE
 -----------------------------------------------*/

em { 
	font-style:italic; 
}

/*
 * =LINKS
  -----------------------------------------------*/

a:link, a:visited, a:hover, a:active { 
 	text-decoration: none;
}

table.sticky-header a {
	color: #FFF;
}

a:link,
a:visited, 
a:active { 
	color: #236ca1;
}

a:hover { 
	color: #3c7db7; 
}

#sitename a {
	color: #fff361;
}

#sitename a #slogan,
#header #header-region a:link,
#header #header-region a:visited,
#footer a:link,
#footer a:visited {
	color: #fffdeb;
}

#header #header-region a:hover,
#header #header-region a:active,
#footer a:hover,
#footer a:active {
	color: #FFF;
	text-decoration: underline;
}

#sitename a:hover #slogan,
#sitename a:hover {
	color: #97b9d3;
}

#navigation #primary li.active a.active,
#navigation #primary li.active-trail a,
#navigation #secondary li.active-trail a {
	/* Active and Active Trail Background Colour on primary and secondary navigation */
	background: #68483b;
	color:#CCCCCC;
}

#navigation #primary li a.active,
#navigation #secondary li a.active,
#navigation #primary li.active a.active {
	color: #ed6156;
}

.withsecondary #secondary {
	background: #68483b;
}

.withsecondary #secondary a {
	color: #fff361;
}

/*  
 * =HEADINGS
 -----------------------------------------------*/

h1 { 
	font-size:257.2%;
	line-height: 111.15%;
}

h2 { 
	font-size: 171.4%;
	line-height:125%;
	font-weight: bold;
}

h3, th, dt, #mission { 
	font-size:128.55%;
	line-height:133.4%;
	font-weight: bold;
}

.node-title h1 {
	color: #68483b;
	font-weight: bold;
	font-size: 36px;
	letter-spacing: -2px;
	padding: 25px 0 10px;
}

#sidebar-right .block h2,
#sidebar-left .block h2 {
	font-size: 16px;
	padding: 10px 20px 0;
	line-height: 22px;
}

.two-sidebars #sidebar-right .block h2,
.two-sidebars #sidebar-left .block h2 {
	width:160px;
}

h4, h5, h6 {
	font-size: 12px;
	font-weight: bold;
}

/*
 * =LISTS
  -----------------------------------------------*/

.block .item-list ul {
	margin:0 0 18px;
	padding:0;
}
  

/*
 * =FORMS
  -----------------------------------------------*/

.form-submit,
.teaser-button {
	font-weight: bold;
	font-size: 14px;
}

html.js input.form-autocomplete {
	background-position: 100% 6px; /* LTR */ /* COMPENSATES FOR PADDING :) */
}

html.js input.throbbing {
	background-position: 100% -14px; /* LTR */ /* COMPENSATES FOR PADDING :) */
}

.container-inline div, .container-inline label {
	margin-right: 10px;
}

.form-checkbox {
	margin-bottom: 0 !important;
}

.form-checkbox, .form-radio {
	border: 0;
}

input,
input:focus {
	border: 1px solid #7D7D7D;
}

fieldset {
	border-style:solid;
	border-width: 1px;
	padding: 0 20px 20px;
}

fieldset.collapsed {
	background: none;
}

fieldset legend {
	border-style:solid solid none;
	border-width:1px 1px 0;
	margin-bottom:20px;
	margin-left:0;
	margin-right:0;
	padding:5px 5px 0;
}

.form-submit {
	 padding: 10px 15px 7px;
	 background: #FBF4BC;
	 cursor: pointer;
	 margin: 10px 0;
	border: 1px solid #CCC;
	color: #236CA1;
}

.teaser-button {
	margin: 0 !important;
	border-width: 1px;
	border-style: solid;
	border-bottom: 0;
	padding: 10px 15px 7px;
	cursor: pointer;
	border-color: #7D7D7D;
	background-color: #f2f2f2;
	color: #236CA1;
}

input.form-text,
form-textarea,
input.form-file {
	padding:5px 5px 4px;
}

.resizable-textarea .grippie {
	border: 0;
	margin-bottom: 12px;
}

.teaser-button:hover {
	background-color: #fff;
}

.form-submit:hover {
	background: #FFFDEB;
}

.form-item .description {
	color:#888888;
}

.resizable-textarea .grippie {
	background-color: #505050;
}

.form-textarea {
	margin-bottom: 0 !important;
}

#user-login-form li.openid-link, #user-login li.openid-link {
	padding-left: 25px;
}

.form-item .description {
	font-size:85.7%;
}

html.js fieldset.collapsible legend a {
	background-position: 0 75%;
}

html.js fieldset.collapsed legend a {
	background-position:0 50%;
}

.theme-info h2 {
	font-size: 14px;
}

.theme-info {
	font-size: 12px;
}

input {
	border: 1px solid #7d7d7d;
}

input:focus {
	background: #fffad2;
}

fieldset {
	border-color: #CCC;
	background-color: #F6f6f6;
}

fieldset legend {
	background-color: #F6F6F6;
	border-color:#CCCCCC #CCCCCC;
}

fieldset.collapsed,
fieldset.collapsed legend {
	 background-color: transparent;
}

fieldset.collapsed legend:hover {
	background-color: #f6f6f6;
}

.marker, .form-required {
	color: #ED6156;
}

/*
 * TABLES
-----------------------------------------------*/

form table { 
	width: 100%; 
}

thead th,
tbody td { 
	padding: 10px; 
}

table.sticky-header {
	background: #68483B;
	color:#f6f6f6;
}

tr.drag{
	background-color: #f6f6f6;
}

tr.drag-previous {
	background-color: #f6f6f6;
}

#permissions td.module {
	background: #f6f6f6;
}

td.active {
	background-color: #f6f6f6;
}

tr.odd {
	background: #FFF;
}

tr.even {
	background: #f5f4f0;
}


/*  
 * =CONTENT WIDGETS
 -----------------------------------------------*/

.clear { clear:both; line-height: 0; height: 0; }


/*
 * For Admin Section
 ------------------------*/

div.admin .left {
	margin-left: 0;
}

/*
 * Submitted
 ------------------------*/

.submitted {
	background: #FFFDEB;
	float: none;
	display: block;
	padding: 6px 0 4px;
}

 
/*
 * MESSAGES
 ---------------------------*/

.messages,
.help,
div.error,
div.warning {
	font-weight: bold;
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	clear:both;
	padding:12px 10px 10px;
	border-color: #CCC;
}

.messages, .help {
 background: #fffad2;
}

.help p {
	margin: 0;
}

/*
 * BREADCRUMBS
 ---------------------------*/

#breadcrumb {
	font-weight: bold;
	clear:both;
	padding: 0 10px;
	height:45px;
	overflow:hidden;
}

#breadcrumb .breadcrumb {
	float: left;
}

#breadcrumb .breadcrumb img {
	float: left;
}

#breadcrumb a {
 padding:15px 10px;
 float: left;
}

#breadcrumb {
	background: #FFF;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
}

/**
 * TABS
 ---------------------------*/
 
ul.tabs {
	font-weight: bold;
	font-size: 16px;
	border: 0;
	float: right;
}

ul.tabs li {
	border: 0;
	margin: 0;
	padding: 0;
}

ul.tabs li {
	float: left;
	display: block;
	margin: 0 0 0 10px;
}

ul.tabs li a {
	padding: 11px 20px 10px;
	background: #FFFDEB;
	border: 0;
	margin: 0;
	display:block;
}

ul.primary li a:hover {
	background: #fbf4bc;
}

ul.tabs li.active a {
	color: #FFF361;
	background: #68483B;
	border: 0;
}

ul.tabs li a.active {
	background: #68483B;
	border: 0;
	color: #ED6156;
}

ul.primary {
	padding: 25px 0 10px;
	margin: 0 0 0 20px;
}

ul.secondary {
	clear:both;
	margin: 10px 0 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
}

ul.secondary li {
	margin: 0 20px 0 0;
}

ul.secondary li a {
	padding: 10px 0 8px;
	background: none;
}

ul.secondary li a.active {
	padding: 10px 15px 8px;
}	

/*
 * =MODULES
 -----------------------------------------------*/

/*
 * Book
 ---------------------------*/

 #book-outline {
	min-width: 100%;
 }

 .book-navigation .menu {
	margin-left: 0;
 }

/*
 * Aggregator
 ---------------------------*/

#aggregator .feed-source {
	background: #FFFDEB;
	float: none;
	display: block;
	padding: 6px 0 4px;
	margin: 0 0 18px;
}
